services:
  ngrok:
    image: ngrok/ngrok:alpine
    container_name: ngrok-prod
    command: http host.docker.internal:38000
    environment:
      NGROK_AUTHTOKEN: "36DygghEZn9p90Hgvv6gamIAtqA_66mN4x94ruHhmT82S5RHD"
    ports:
      - "4040:4040"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

