services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-prod
    ports:
      - "38000:38000"
    environment:
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ./src:/workspace/src
    restart: unless-stopped

  ngrok:
    image: ngrok/ngrok:alpine
    container_name: ngrok-prod
    command: http backend:38000
    environment:
      NGROK_AUTHTOKEN: "2vYjT5j40edREjK6Qbpysfr5TyK_4qhEj643Y4rxNCHoM1wPo"
    restart: unless-stopped

